!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jasmine.css')
    script(type='text/javascript', src='/javascripts/jquery-1.6.3.min.js')
    script(type='text/javascript', src='/javascripts/jasmine.js')
    script(type='text/javascript', src='/javascripts/jasmine-html.js')
    script
      (function() {
        var jasmineEnv = jasmine.getEnv()
        jasmineEnv.addReporter(new jasmine.HtmlReporter)

        window.onload = function() {
          jasmineEnv.execute()
        };
      })();
    script(type='text/javascript', src='/javascripts/facile.js')
    script(type='text/javascript', src='/javascripts/spec/facile-spec.js')
  body!= body
