!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jasmine.css')
    script(type='text/javascript', src='/javascripts/zepto.min.js')
    script(type='text/javascript', src='/javascripts/jasmine.js')
    script(type='text/javascript', src='/javascripts/jasmine-html.js')
    script(type='text/javascript', src='/javascripts/facile.js')
    script(type='text/javascript', src='/javascripts/spec.js')
  body!= body
